/* 引入字型 Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

#pdf-container {
    width: 70%;
    height: auto;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.resume {
    margin-top: 75px;
    background-color: #263559;
}

.resume>h2 {
    color: var(--main-light-1);
    font-weight: 500;
    margin: 50px;
}

.resume>.btn {
    font-size: 20px;
}

.resume>.btn>a {
    font-size: 20px;
    color: var(--main-light-1);
}